	/*缺省值begin*/
	html{ margin:0px; padding:0px;width: 100%;height: auto;}
	body{ margin:0px; padding:0px;width: 100%;height: auto;font-size:12px; font-family:微软雅黑,Microsoft YaHei,Tahoma, Geneva, sans-serif; color:#464646;}
	a{ text-decoration:none; outline:none; color:#1aadbf;}
	a:hover{ text-decoration:none; outline:none; color:#f26d51;}
	a:active, a:visited{ outline:none;}
	p,ul,li,form,h1,h2,h3,h4,h5,h6,dl,dt,dd,img,div,table,td,th,input,textarea{ margin:0px; padding:0px;}
	h2,h3{font-size:14px;}
	input,textarea{font-family:微软雅黑,Microsoft YaHei,Tahoma, Geneva, sans-serif;outline:none;font-size:12px;color:#464646;}
	table,td{ border-collapse:collapse;}
	ul,li,dl,dt,dd,ol{ list-style:none;}
	.yahei{font-family:微软雅黑,Microsoft YaHei,Arial,"宋体";}
	img{ border:0 none;overflow:hidden; display:block;}
	em,i{font-style:normal;font-weight:normal;}
	.list-clearfix:after,
	.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.list-clearfix,
	.clearfix{zoom:1;}
	/*缺省值end*/
